#!/bin/bash

#general
alias nf="neofetch"
alias vi="vim"
alias v="vim"
alias c="clear"
alias e="exit"
alias r="ranger"
alias t="htop"
alias h="htop"
alias hgrep="history | grep"
alias psgrep="ps -e | grep"
alias findstr="sudo grep -iRn"
alias findfile="sudo find . -iname"
alias osrelease="cat /etc/os-release"
alias addscript="bash $scriptsdir/addscript.sh"
alias maze="command -V"
alias dus="du -sh *"
alias duh="du -hs .[^.]*"
alias dua="du -sch .[!.]* * |sort -h"
alias findappname="xprop | grep WM_CLASS"

#keyboard 
alias ctrlc='xclip -selection c'
alias ctrlv='xclip -selection c -o'
alias setrr="xset r rate 250 50"

#grub
alias grubup="sudo grub-mkconfig -o /boot/grub/grub.cfg"

#nvidia
alias nvup="sudo nvidia-xconfig"
alias nvrun="__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia"
alias nvsmi="nvidia-smi"

#alacritty
alias at='alacritty-themes'

#exec
alias mappen="bash $scriptsdir/random/mappen.sh"
alias chrome="/opt/google/chrome/google-chrome"

#edit
alias edalacritty="vim ~/.config/alacritty/alacritty.yml"
alias edgrub="sudo vim /etc/default/grub"
alias edgdm="sudo vim /etc/gdm/custom.conf"
alias edsddm="sudo vim /etc/sddm.conf"
alias edpacman="sudo vim /etc/pacman.conf"
alias eddnf="sudo vim /etc/dnf/dnf.conf"
alias edlogind="sudo -H vim /etc/systemd/logind.conf"
alias edbash="$edit $bashrc"
alias edalias="$edit $aliases"
alias edvar="$edit $variables"
alias edvim="$edit $vimrc"
alias edsetup="$edit $scriptsdir/setup/setup.sh"

#sync
alias addsync="bash $scriptsdir/sync/addsync.sh"
alias synckde="bash $scriptsdir/sync/synckde.sh"
alias syncalacritty="bash $scriptsdir/sync/syncalacritty.sh"

#graphic cards
alias currgc="glxinfo | egrep 'OpenGL vendor|OpenGL renderer'"

#boot options
alias bootopl="efibootmgr"
alias bootoprm="sudo efibootmgr -Bb" 

#apt
alias aptin="sudo apt install"
alias aptrm="sudo apt remove"
alias aptarm="sudo apt autoremove"
alias aptup="sudo apt update && sudo apt upgrade"

#snap
alias snapin="sudo snap install"
alias snaprm="sudo snap remove"
alias snapup="sudo snap refresh"
alias snapl="snap list"

#flatpak
alias fpin="flatpak install"
alias fprm="flatpak uninstall"
alias fparm="flatpak uninstall --unused"
alias fpsearch="flatpak search"
alias fpr="flatpak run"
alias fpup="flatpak update"
alias fpl="flatpak list"
alias fpla="flatpak list --app"
alias fpfix="flatpak repair"
alias fpremoteadd="flatpak remote-add --if-not-exists"
alias fpremoterm="flatpak remote-delete"
alias fpremotes="flatpak remotes"

#pacman
alias pmin="sudo pacman -S"
alias pmrm="sudo pacman -Rns"
alias pmup="sudo pacman -Syu"
alias pmarm="sudo pacman -Qdtq | sudo pacman -Rs -"
alias pml="pacman -Qe"
alias pmq="pacman -Ss"

#yay
alias yyin="yay -S"
alias yyup="yay -Syu"
alias yyrm="yay -Rns"
alias yyarm="yay -Yc"
alias yyl="yay -Qe"
alias yyq="yay -Ss"

#paru
alias prin="paru -S"
alias prup="paru -Syu"
alias prrm="paru -Rns"
alias prarm="paru -Yc"
alias prl="paru -Qe"
alias prq="paru -Ss"

#dnf
alias dnfin="sudo dnf install"
alias dnfrm="sudo dnf remove"
alias dnfup="sudo dnf upgrade --refresh"
alias dnfarm="sudo dnf autoremove"
alias dnfcc="sudo dnf clean packages"
alias dnfl="sudo dnf list installed"

#all packet managers
alias fedup="bash $scriptsdir/update/fedup.sh"
alias archup="bash $scriptsdir/update/archup.sh"
alias debup="bash $scriptsdir/update/debup.sh"

#gcc compilation aliases: debug mode, release mode
alias gd='gcc -ansi -pedantic-errors -Wall -Wextra -g'
alias gr='gcc -ansi -pedantic-errors -Wall -Wextra -DNDEBUG -O3'
alias gd99='gcc -std=c99 -pedantic-errors -Wall -Wextra -g'
alias gr99='gcc -std=c99 -pedantic-errors -Wall -Wextra -DNDEBUG -O3'

alias gdpp='g++ -std=gnu++98 -Weffc++ -pedantic-errors -Wall -Wextra -g'
alias grpp='g++ -std=gnu++98 -Weffc++ -pedantic-errors -Wall -Wextra -DNDEBUG -O3'
alias gdpp11='g++ -std=gnu++11 -Weffc++ -pedantic-errors -Wall -Wextra -g'
alias grpp11='g++ -std=gnu++11 -Weffc++ -pedantic-errors -Wall -Wextra -DNDEBUG -O3'

#valgrind
alias vlg='valgrind --leak-check=yes --track-origins=yes'
alias hlg='valgrind --tool=helgrind'

#git
alias gadd="git add ."
alias gcomm="git commit -m"
alias gpush="bash $scriptsdir/git/gitpush.sh"
alias gstat="git status"
alias glog="git log"
alias gconfig="bash $scriptsdir/git/gitconfig.sh"
alias gclone="git clone"
alias gdiff="git diff"
alias gpull="git pull"

#learning/projects scripts
alias lab="bash $scriptsdir/code/lab.sh"
alias mkproject="bash $scriptsdir/code/project.sh"

#currp (current project)
alias currpcd="cd $currpdir"
alias currplink="readlink ~/.currp"
alias currpupdatelink="ln -sf $currpdir ~/.currp"

#mpd
alias msp="mpc searchplay"
alias mpl="mpc playlist"
alias mup="mpc update && mpc ls | mpc add"
alias mcl="mpc clear"
alias mtg="mpc toggle"
alias mctl="mpc update && mpc ls | mpc add && ncmpcpp && mpc clear"

#python
alias pipin="python -m pip install"
alias pipinr="python -m pip install -r" #install all packages from requirements file (need to specify file)
alias pipinrup="python -m pip install -U -r" #same as above but updates packages that need update
alias piprm="python -m pip uninstall -y"
alias piprmr="python -m pip uninstall -y -r"
alias pipl="python -m pip list" #lists environment packages
alias pipshow="python -m pip show" #shows specific package
alias pipcfgl="python3 -m pip config list -vv"
alias pipfreeze="python -m pip freeze > requirements.txt" #add environment needed packages versions to requirements file

#python venv
alias pyvecr="python -m venv"
alias pyvecrssp="python -m venv --system-site-packages" #gives access to system site packages
alias pyveact="source bin/activate"
alias pyvedeact="deactivate"
