[Desktop Entry]
Name=Default
Name[ar]=Default
Name[az]=Default
Name[ca]=Default
Name[ca@valencia]=Default
Name[cs]=Default
Name[da]=Default
Name[de]=Default
Name[en_GB]=Default
Name[es]=Default
Name[eu]=Default
Name[fi]=Default
Name[fr]=Default
Name[hi]=Default
Name[hu]=Default
Name[ia]=Default
Name[it]=Default
Name[ko]=Default
Name[lt]=Default
Name[nl]=Default
Name[nn]=Default
Name[pa]=Default
Name[pl]=Default
Name[pt]=Default
Name[pt_BR]=Default
Name[ro]=Default
Name[ru]=Default
Name[sk]=Default
Name[sl]=Default
Name[sv]=Default
Name[tr]=Default
Name[uk]=Default
Name[x-test]=xxDefaultxx
Name[zh_CN]=Default

X-KDE-PluginInfo-Name=Default
X-KDE-PluginInfo-Author=Aviv Illoz
X-KDE-PluginInfo-Email=avivilloz@gmail.com
