[Desktop Entry]
Name=Music Manager
Comment=Music manager
Exec=/home/avivilloz/git/utils/scripts/mpd/musicmanager.sh
Categories=Audio;Player;Music;
Icon=deepin-music
Terminal=true
Type=Application
Version=1.0
