#!/bin/bash

#general
alias nf="neofetch"
alias vi="vim"
alias v="vim"
alias vime="$term -e vim"
alias vie="$term -e vim"
alias ve="$term -e vim"
alias c="clear"
alias e="exit"
alias r="ranger"
alias t="htop"
alias h="htop"
alias hgrep="history | grep"
alias psgrep="ps -e | grep"
alias findstr="sudo grep -iRn"
alias findfile="sudo find . -iname"
alias osrelease="cat /etc/os-release"
alias maze="command -V"
alias dus="du -sh *"
alias duh="du -hs .[^.]*"
alias dua="du -sch .[!.]* * |sort -h"
alias findappname="xprop | grep WM_CLASS"

#system
alias sysctlstart="sudo systemctl start"
alias sysctlstop="sudo systemctl stop"
alias sysctle="sudo systemctl enable"
alias sysctlr="sudo systemctl restart"
alias sysctlstat="sudo systemctl status"
alias sysctld="sudo systemctl disable"

#keyboard 
alias ctrlc='xclip -selection c'
alias ctrlv='xclip -selection c -o'
alias setrr="xset r rate 250 50"

#grub
alias grubup="sudo grub-mkconfig -o /boot/grub/grub.cfg"

#nvidia
alias nvxup="sudo nvidia-xconfig"
alias nvrun="__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia"
alias nvsmi="nvidia-smi"

#graphic cards
alias currgpu="glxinfo | egrep 'OpenGL vendor|OpenGL renderer'"
alias gpus="bash $scriptsdir/gpu/gpuswitch.sh"
alias gpuq="envycontrol --query"

#alacritty
alias at='alacritty-themes'

#exec
alias mappen="bash $scriptsdir/random/mappen.sh"
alias chrome="/opt/google/chrome/google-chrome"

#edit
alias edscript="bash $scriptsdir/edscript.sh"
alias edalacritty="vim ~/.config/alacritty/alacritty.yml"
alias edgrub="sudo vim /etc/default/grub"
alias edgdm="sudo vim /etc/gdm/custom.conf"
alias edsddm="sudo vim /etc/sddm.conf"
alias edpacman="sudo vim /etc/pacman.conf"
alias eddnf="sudo vim /etc/dnf/dnf.conf"
alias edlogind="sudo -H vim /etc/systemd/logind.conf"
alias edbash="$edit $bashrc"
alias edalias="$edit $aliases"
alias edvar="$edit $variables"
alias edvim="$edit $vimrc"
alias edsetup="$edit $scriptsdir/setup/setup.sh"

#backup
alias addbup="bash $scriptsdir/backup/addbackup.sh"
alias bupkde="bash $scriptsdir/backup/backupkde.sh"
alias bupalacritty="bash $scriptsdir/backup/backupalacritty.sh"
alias bupdf="bash $scriptsdir/backup/backupdesktopfiles.sh"

#setup
alias addsetup="bash $scriptsdir/setup/addsetup.sh"
alias setup="bash $scriptsdir/setup/setup.sh"

#boot options
alias bootopl="efibootmgr"
alias bootoprm="sudo efibootmgr -Bb" 

#apt
alias aptin="sudo apt install"
alias aptrm="sudo apt remove"
alias aptarm="sudo apt autoremove"
alias aptup="sudo apt update && sudo apt upgrade"

#snap
alias snapin="sudo snap install"
alias snaprm="sudo snap remove"
alias snapup="sudo snap refresh"
alias snapl="snap list"

#flatpak
alias fpin="flatpak install"
alias fprm="flatpak uninstall"
alias fparm="flatpak uninstall --unused"
alias fpsearch="flatpak search"
alias fpr="flatpak run"
alias fpup="flatpak update"
alias fpl="flatpak list"
alias fpla="flatpak list --app"
alias fpfix="flatpak repair"
alias fpremoteadd="flatpak remote-add --if-not-exists"
alias fpremoterm="flatpak remote-delete"
alias fpremotes="flatpak remotes"

#pacman
alias pcmin="sudo pacman -S"
alias pcmrm="sudo pacman -Rns"
alias pcmup="sudo pacman -Syu"
alias pcmarm="sudo pacman -Qdtq | sudo pacman -Rs -"
alias pcmcrm="pacman -Scc"
alias pcml="pacman -Qe"
alias pcmlq="pacman -Qe | grep"
alias pcmq="pacman -Ss"

#yay
alias yyin="yay -S"
alias yyup="yay -Syu"
alias yyrm="yay -Rns"
alias yyarm="yay -Yc"
alias yycrm="yay -Scc"
alias yyl="yay -Qe"
alias yylq="yay -Qe | grep"
alias yyq="yay -Ss"

#paru
alias prin="paru -S"
alias prup="paru -Syu"
alias prrm="paru -Rns"
alias prl="paru -Qe"
alias prq="paru -Ss"

#dnf
alias dnfin="sudo dnf install"
alias dnfrm="sudo dnf remove"
alias dnfup="sudo dnf upgrade --refresh"
alias dnfarm="sudo dnf autoremove"
alias dnfcc="sudo dnf clean packages"
alias dnfl="sudo dnf list installed"

#all packet managers
alias fedup="bash $scriptsdir/update/fedup.sh"
alias archup="bash $scriptsdir/update/archup.sh"
alias debup="bash $scriptsdir/update/debup.sh"

#gcc compilation aliases: debug mode, release mode
alias gccd='gcc -ansi -pedantic-errors -Wall -Wextra -g'
alias gccr='gcc -ansi -pedantic-errors -Wall -Wextra -DNDEBUG -O3'
alias gccd99='gcc -std=c99 -pedantic-errors -Wall -Wextra -g'
alias gccr99='gcc -std=c99 -pedantic-errors -Wall -Wextra -DNDEBUG -O3'

alias gppd='g++ -std=gnu++98 -Weffc++ -pedantic-errors -Wall -Wextra -g'
alias gppr='g++ -std=gnu++98 -Weffc++ -pedantic-errors -Wall -Wextra -DNDEBUG -O3'
alias gppd11='g++ -std=gnu++11 -Weffc++ -pedantic-errors -Wall -Wextra -g'
alias gppr11='g++ -std=gnu++11 -Weffc++ -pedantic-errors -Wall -Wextra -DNDEBUG -O3'

#valgrind
alias vlg='valgrind --leak-check=yes --track-origins=yes'
alias hlg='valgrind --tool=helgrind'

#git
alias gadd="git add ."
alias gcomm="git commit -m"
alias gpush="bash $scriptsdir/git/gitpush.sh"
alias gstat="git status"
alias glog="git log"
alias gconfig="bash $scriptsdir/git/gitconfig.sh"
alias gclone="git clone"
alias gdiff="git diff"
alias gpull="git pull"

#learning/projects scripts
alias lab="bash $scriptsdir/code/lab.sh"
alias mkproject="bash $scriptsdir/code/project.sh"

#currp (current project)
alias currpcd="cd $currpdir"
alias currplink="readlink ~/.currp"
alias currpupdatelink="ln -sf $currpdir ~/.currp"

#mpd
alias msp="mpc searchplay"
alias mpl="mpc playlist"
alias mup="mpc update && mpc ls | mpc add"
alias mcl="mpc clear"
alias mtg="mpc toggle"
alias mm="bash $scriptsdir/mpd/musicmanager.sh"

#python
alias pipin="python -m pip install"
alias pipup="python -m pip install -U" #updates package
alias piprm="python -m pip uninstall -y"
alias piprin="python -m pip install -r" #install all packages from requirements file (need to specify file)
alias piprup="python -m pip install -U -r"
alias piprrm="python -m pip uninstall -y -r"
alias pipl="python -m pip list" #lists environment packages
alias pipshow="python -m pip show" #shows specific package
alias pipcfgl="python3 -m pip config list -vv"
alias pipfreeze="python -m pip freeze > requirements.txt" #add environment needed packages versions to requirements file

#python venv
alias pyvecr="python -m venv"
alias pyvecrssp="python -m venv --system-site-packages" #gives access to system site packages
alias pyvecrwp="python -m venv --without-pip"
alias pyvecrwpssp="python -m venv --without-pip --system-site-packages"
alias pyveact=". $scriptsdir/python/pyveact.sh"
alias pyvedeact="deactivate"

#kde plasma theme
alias kdechdwp="bash $scriptsdir/kde/kdechdwp.sh" #change kde default wallpaper
alias kwinr="kwin_x11 --replace"
alias pshr="killall plasmashell && kstart plasmashell" #restart plasmashell
alias pshstart="kstart plasmashell"
alias pshstop="killall plasmashell"

#vim
alias vimpi="vim -c PlugInstall -c q -c q"
